autom4te.cache
*.Po
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
COPYING
INSTALL
Makefile
Makefile.in
stamp-h1
src/Makefile
src/Makefile.in
*.o
psuart
psuserver.conf
*.log
config/compile
config/depcomp
config/missing
